
/* ADD YOUR STYLES HERE */


/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 11px;
}

.line {
  fill: none;
  stroke: #1C9A3D;
  stroke-width: 1.5px;
}

.tooltip-circle {
  fill: #96AB96;
}


/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*.form-control{*/
  /*width: 50%;*/
/*}*/

/*.time-input{*/
  /*margin-top:100px;*/
/*}*/
body { font: 12px Arial;}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 130px;
  height: 50px;
  padding: 2px;
  font: 12px sans-serif;
  color: white;
  background: black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#slider-range{
  width: 70%;
}

#time-period{
  padding-top:20px;
  padding-bottom:20px;
}

h1{
  margin-top: 20px;
  /*color: green;*/
}


.pats_line{
  stroke: blue;
}

.lions_line{
  stroke: silver;
}

.browns_line{
  stroke: orange;
}


/*PARALLAX*/

/*.parallax {*/

  /*height: 700px;*/

  /*background-attachment: fixed;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
/*}*/


.parallax {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#p0 {
  background-image: url('football4.jpg');
  min-height: 100%;
}

#p1 {
  background-image: url('playbook2.jpg');
  min-height: 600px;
  opacity: 80%;
}

#p2 {
  background-image: url('football3.jpg');
  min-height: 600px;
}

#p3 {
  background-image: url('jjwatt.jpg');
  min-height: 600px;
}


#p4 {
  background-image: url('marshawn.jpg');
  min-height: 600px;
}

#p5 {
  background-image: url('brady.jpg');
  min-height: 600px;
}

#p6 {
  background-image: url('seas.jpg');
  min-height: 600px;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  letter-spacing: 7px;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  /*font-weight: 500;*/
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  /*color: #616161;*/
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  color: #616161;
}

div {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  color: #616161;
  font-size: 12px;
}




.info {
  color: #777;
  background-color:white;
  text-align:center;
  padding: 50px 80px;
  /*text-align: justify;*/
  text-align:center;
  /*min-height: 100%;*/
}

.rushInfo {
  color: #777;
  background-color:white;
  text-align:center;
  padding: 20px 20px;
  /*text-align: justify;*/
  text-align:center;
}

h2 {
  letter-spacing: 3px;
  color: #000000;
  text-align: center
}

h3{
  letter-spacing: 1.5px;
  color: #000000;
  text-align: center;
  /*font-weight: bold;*/
}

h4, h5 {
  color: #000000;
  text-align: center
}

p {
  font-size: 14px;
}

/*.noplayoff{*/
  /*width: 20px;*/
  /*height: 20px;*/
  /*background-color:LightPink;*/
/*}*/


/*.playoff{*/
  /*width: 20px;*/
  /*height: 20px;*/
  /*background-color:LightGreen;*/
/*}*/




.bar-chart {
  background-color: #C7D9D9;
}


#image {
  padding-top: 75px;
}

#details {
  padding-top: 75px;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;

  padding: 14px;
  text-align: center;
}



/******************/
/*  RUSHING CHART */
/******************/

.meanLine{
  stroke: #AAA;
  stroke-dasharray: 7;
  opacity: 0.6;
  width: 960px !important;
}

.bar{
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}

.rushingTable{
  float: right;
  margin-left: 3%;
  margin-right: 9%;


}

#tableClear{
  margin-bottom: 25em;
}

#SEA{
  color:red;
}


/*******************/
/*  TURNOVER CHART */
/*******************/

.bar-chart {
  background-color: #C7D9D9;
}


#image {
  padding-top: 75px;
}

#details {
  padding-top: 75px;
}


/***************/
/*PULLOUT QUOTE*/
/***************/

.pquote {
  /*float: right;*/
  /*width: 200px;*/
  /*!*background: url(openquote.png) top left no-repeat;*!*/
  /*color: #616161;*/
  font-size: 18px;
  /*line-height: 0.9;*/
  font-style: italic;
  /*padding: 20px;*/
  margin: 10px
}

blockquote {
  margin: 10px;
}

.pquote p:first-letter {
  font-size: 40px;
  font-weight: bold;
}

.large-font {
  font-size: 18px;
  font-weight: bold;
}

.full {
  width: 100%;
}


/*.white {*/
  /*background-color: rgba(0, 0, 0, 0.99);*/
  /*font-color: white;*/

/*}*/


.area-title {
  font-size: 16px;
}



/*testing out the new scatterplot*/

.grid .tick {
  stroke: lightgrey;
  opacity: 0.3;
  stroke-dasharray: 1, 3;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}

.land {
  fill: #DCDCDC;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
}

.tip {
  position: absolute;
  width: auto;
  height: auto;
  font-family: simsun;
  font-size: 20px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  border-radius: 7px;
}

.tip .tip_title {
  border-bottom: 1px solid #000;
  text-align: center;
}

.tip .tip_detail {
  /*inline will inherit its parent div's text align*/
  display: inline;
  /*text-align: left;*/
}

.hover-line {
  stroke: rgb(148, 33, 147);
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}

@media screen and (min-width: 1300px) {
  .map {
    float: left;
    width: 65%;
  }
  .chart_label_container {
    float: left;
    width: 35%;
  }
  .play_btn {
    float: left;
    margin-left: 50px;
  }
  .time_line {
    margin-left: 70px;
    line-height: 40px;
    width: 70%;
  }
}

@media screen and (max-width: 1300px) {
  .map {
    float: left;
    width: 100%;
  }
  .chart_label_container {
    float: left;
    width: 100%;
  }
  .play_btn {
    float: left;
  }
  .time_line {
    margin-left: 70px;
    line-height: 40px;
    width: 70%;
  }
}


#scatter {
  /*margin: 0 auto;*/
  /*width: 1500px;*/
  /*position: relative;*/
  /*top: 50%;*/
  /*transform: perspective(1px) translateY(-50%);*/
}


