
/* ADD YOUR STYLES HERE */


/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 11px;
}

.line {
  fill: none;
  stroke: #1C9A3D;
  stroke-width: 1.5px;
}

.tooltip-circle {
  fill: #96AB96;
}


/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*.form-control{*/
  /*width: 50%;*/
/*}*/

/*.time-input{*/
  /*margin-top:100px;*/
/*}*/
body { font: 12px Arial;}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 130px;
  height: 50px;
  padding: 2px;
  font: 12px sans-serif;
  color: white;
  background: black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#slider-range{
  width: 70%;
}

#time-period{
  padding-top:20px;
  padding-bottom:20px;
}

h1{
  margin-top: 20px;
  /*color: green;*/
}


.pats_line{
  stroke: blue;
}

.lions_line{
  stroke: silver;
}

.browns_line{
  stroke: orange;
}


/*PARALLAX*/

/*.parallax {*/

  /*height: 700px;*/

  /*background-attachment: fixed;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
/*}*/


.parallax {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#p1 {
  background-image: url('football4.jpg');
  min-height: 100%;
}

#p2 {
  background-image: url('football3.jpg');
  min-height: 600px;
}

#p3 {
  background-image: url('jjwatt.jpg');
  min-height: 600px;
}


#p4 {
  background-image: url('marshawn.jpg');
  min-height: 600px;
}

#p5 {
  background-image: url('brady.jpg');
  min-height: 600px;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  letter-spacing: 7px;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  /*font-weight: 500;*/
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  /*color: #616161;*/
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  color: #616161;
}

.info {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  /*text-align: justify;*/
  text-align:center;
}

h2, h3, h4 {
  letter-spacing: 3px;
  color: #000000;
  text-align: center
}

p {
  font-size: 13px;
}

