
/* ADD YOUR STYLES HERE */


/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 11px;
}

.line {
  fill: none;
  stroke: #1C9A3D;
  stroke-width: 1.5px;
}

.tooltip-circle {
  fill: #96AB96;
}


/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*.form-control{*/
  /*width: 50%;*/
/*}*/

/*.time-input{*/
  /*margin-top:100px;*/
/*}*/
body { font: 12px Arial;}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 130px;
  height: 50px;
  padding: 2px;
  font: 12px sans-serif;
  color: white;
  background: black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#slider-range{
  width: 70%;
}

#time-period{
  padding-top:20px;
  padding-bottom:20px;
}

h1{
  margin-top: 20px;
  /*color: green;*/
}


.pats_line{
  stroke: blue;
}

.lions_line{
  stroke: silver;
}

.browns_line{
  stroke: orange;
}


/*PARALLAX*/

/*.parallax {*/

  /*height: 700px;*/

  /*background-attachment: fixed;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
/*}*/


.parallax {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#p1 {
  background-image: url('football4.jpg');
  min-height: 100%;
}

#p2 {
  background-image: url('football3.jpg');
  min-height: 600px;
}

#p3 {
  background-image: url('jjwatt.jpg');
  min-height: 600px;
}


#p4 {
  background-image: url('marshawn.jpg');
  min-height: 600px;
}

#p5 {
  background-image: url('brady.jpg');
  min-height: 600px;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  letter-spacing: 7px;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  /*font-weight: 500;*/
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  /*color: #616161;*/
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  color: #616161;
}

.info {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  /*text-align: justify;*/
  text-align:center;
}

h2, h3 {
  letter-spacing: 3px;
  color: #000000;
  text-align: center
}

h4, h5 {
  color: #000000;
  text-align: center
}

p {
  font-size: 13px;
}

.noplayoff{
  width: 20px;
  height: 20px;
  background-color:LightPink;
}


.playoff{
  width: 20px;
  height: 20px;
  background-color:LightGreen;
}




.bar-chart {
  background-color: #C7D9D9;
}


#image {
  padding-top: 75px;
}

#details {
  padding-top: 75px;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;

  padding: 14px;
  text-align: center;
}



/******************/
/*  RUSHING CHART */
/******************/

.meanLine{
  stroke: #AAA;
  stroke-dasharray: 7;
  opacity: 0.6;
  width: 960px !important;
}

.bar{
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}


/*******************/
/*  TURNOVER CHART */
/*******************/

.bar-chart {
  background-color: #C7D9D9;
}


#image {
  padding-top: 75px;
}

#details {
  padding-top: 75px;
}

